<a href="https://colab.research.google.com/github/luizasampaio-s/todo8/blob/main/to_do_8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [4]:
# Importando arquivo .csv
milsa = pd.read_csv('http://www.leg.ufpr.br/~fernandomayer/data/milsa.csv')
milsa.head()

   Funcionario Est.civil     Inst  Filhos  Salario  Anos  Meses    Regiao
0            1  solteiro  1o Grau     NaN     4.00    26      3  interior
1            2    casado  1o Grau     1.0     4.56    32     10   capital
2            3    casado  1o Grau     2.0     5.25    36      5   capital
3            4  solteiro  2o Grau     NaN     5.73    20     10     outro
4            5  solteiro  1o Grau     NaN     6.26    40      7     outro

In [6]:
# Colocando funcion√°rio como index.
milsa.set_index('Funcionario')
milsa.head()

   Funcionario Est.civil     Inst  Filhos  Salario  Anos  Meses    Regiao
0            1  solteiro  1o Grau     NaN     4.00    26      3  interior
1            2    casado  1o Grau     1.0     4.56    32     10   capital
2            3    casado  1o Grau     2.0     5.25    36      5   capital
3            4  solteiro  2o Grau     NaN     5.73    20     10     outro
4            5  solteiro  1o Grau     NaN     6.26    40      7     outro

In [15]:
# Removendo a coluna meses.
milsa.drop(columns=['Meses'], inplace = True)
milsa.head()

   Funcionario Est.civil     Inst  Filhos  Salario  Anos    Regiao
0            1  solteiro  1o Grau     0.0     4.00    26  interior
1            2    casado  1o Grau     1.0     4.56    32   capital
2            3    casado  1o Grau     2.0     5.25    36   capital
3            4  solteiro  2o Grau     0.0     5.73    20     outro
4            5  solteiro  1o Grau     0.0     6.26    40     outro

In [16]:
# Trocando os valores nulos da coluna 'Filhos' por 0.
milsa['Filhos'].fillna(0, inplace = True)
milsa

    Funcionario Est.civil      Inst  Filhos  Salario  Anos    Regiao
0             1  solteiro   1o Grau     0.0     4.00    26  interior
1             2    casado   1o Grau     1.0     4.56    32   capital
2             3    casado   1o Grau     2.0     5.25    36   capital
3             4  solteiro   2o Grau     0.0     5.73    20     outro
4             5  solteiro   1o Grau     0.0     6.26    40     outro
5             6    casado   1o Grau     0.0     6.66    28  interior
6             7  solteiro   1o Grau     0.0     6.86    41  interior
7             8  solteiro   1o Grau     0.0     7.39    43   capital
8             9    casado   2o Grau     1.0     7.59    34   capital
9            10  solteiro   2o Grau     0.0     7.44    23     outro
10           11    casado   2o Grau     2.0     8.12    33  interior
11           12  solteiro   1o Grau     0.0     8.46    27   capital
12           13  solteiro   2o Grau     0.0     8.74    37     outro
13           14    casado   1o Grau     3.0     8.95    44     outro
14           15    casado   2o Grau     0.0     9.13    30  interior
15           16  solteiro   2o Grau     0.0     9.35    38     outro
16           17    casado   2o Grau     1.0     9.77    31   capital
17           18    casado   1o Grau     2.0     9.80    39     outro
18           19  solteiro  Superior     0.0    10.53    25  interior
19           20  solteiro   2o Grau     0.0    10.76    37  interior
20           21    casado   2o Grau     1.0    11.06    30     outro
21           22  solteiro   2o Grau     0.0    11.59    34   capital
22           23  solteiro   1o Grau     0.0    12.00    41     outro
23           24    casado  Superior     0.0    12.79    26     outro
24           25    casado   2o Grau     2.0    13.23    32  interior
25           26    casado   2o Grau     2.0    13.60    35     outro
26           27  solteiro   1o Grau     0.0    13.85    46     outro
27           28    casado   2o Grau     0.0    14.69    29  interior
28           29    casado   2o Grau     5.0    14.71    40  interior
29           30    casado   2o Grau     2.0    15.99    35   capital
30           31  solteiro  Superior     0.0    16.22    31     outro
31           32    casado   2o Grau     1.0    16.61    36  interior
32           33    casado  Superior     3.0    17.26    43   capital
33           34  solteiro  Superior     0.0    18.75    33   capital
34           35    casado   2o Grau     2.0    19.40    48   capital
35           36    casado  Superior     3.0    23.30    42  interior